.wrapper {
  display: grid;
}

.navigate {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60px;
  place-items: center;
  border: 1px solid black;
}

.content {
  padding: 30px 150px;
  justify-self: center;
}